<h2>Create New Post</h2>

<%= javascript_include_tag('location.js') %>
<%= render "posts/form" %>
<script>
$(document).ready(function() {
  locationInit('post_latitude', 'post_longitude');
});
</script>
