<div style="height:300px; width:400px;margin:auto; margin-top: 50px;">
	<h2 style="margin-top: 50px;">Create New Post</h2>

    <%= javascript_include_tag('location.js') %>
    <%= render "posts/form" %>
</div>
